@page "/shoppingcart"
@inject NavigationManager Navigation
<MudContainer>
        <MudPaper Elevation="2" Class="my-4 ">
    <MudGrid>
            <MudItem xs="12" md="12">
                <div class="d-flex">
                <Cart/>
                </div>
            </MudItem>
    
            <MudItem xs="12" md="6">
                        <div class="d-flex mt-3 pt-3 ml-2">
                        <MudButton Class="inline" Size="Size.Medium" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ShoppingCartCheckout" OnClick="@(() => Navigation.NavigateTo("/checkout"))" Color="Color.Warning">Continue Checkout</MudButton>
                        <MudButton Class="inline ml-2" Size="Size.Medium" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ShoppingBag" OnClick="@(() => Navigation.NavigateTo("/products"))" Color="Color.Success">Continue Shopping</MudButton>
                        </div>
            </MudItem>
</MudGrid>
        </MudPaper>            
</MudContainer>
@code {
 

}
